# We use pnpm
yarn.lock
package-lock.json

node_modules/

/build/
/confio/
/cosmos/
/cosmos_proto/
/cosmwasm/
/gogoproto/
/google/
/atomone/
/ibc/
/tendermint/
/binary.*
/helpers.*
/index.*
/utf8.*
/varint.*

# IDEs
.vscode/

# macOS
.DS_Store
/json-safe.*
/registry.*
/types.*
